/* STRUCTURE */

body {
    background: #E7DED9;
}

#mainDiv {
    width: 1000px;
}

#mainDivTwo {
    height: 100%;
    width: 100%;
}

#logo {
    position: absolute;
    width: 164px;
    height: 164px;
    left: 84px;
    top: -50px;
}

#menu {
    position: absolute;
    width: 500px;
    height: 23px;
    left: 302px;
    top: 20px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #000000;
    justify-content: space-evenly;
}

#menu a {
    padding-right: 25px !important;
    padding-left: 25px !important;
}

nav {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #000000;
    justify-content: space-evenly;
}

.ctaText {
    width: 500px;
    height: 314px;
    left: -150px;
}

.ctaForm {
    position: absolute;
    width: 547px;
    height: 213px;
    margin-top: 100px;
    left: -70px;
}

.firstName {
    /* Input Area */

    width: 485px;
    height: 42px;
    left: 180px;
    margin-left: 50px;

    background: #F9F9F9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.emailAddress {
    width: 485px;
    height: 42px;
    left: 90px;
    top: 90px;
    margin-top: 15px;
    margin-left: 50px;

    background: #F9F9F9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.message {
    width: 485px;
    height: 150px;
    left: 90px;
    top: 90px;
    margin-top: 15px;
    margin-left: 50px;
    text-align:start;

    background: #F9F9F9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.formButton {
    width: 510px;
    height: 42px;
    left: 90px;
    top: 150px;
    margin-top: 15px;
    margin-left: 50px;

    background: #988780;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #000000;
    padding-left: 15px;
}

#CTA {
    position: absolute;
    width: 549px;
    height: 651px;
    left: 143px;
    top: 120px;
}

#confirmationMessage {
    position: absolute;
    width: 549px;
    height: 651px;
    left: 143px;
    top: 220px;
}

#confirmation {
    padding-top: 110px;
}

.secondaryText {
    margin-top: 200px;
}

#iphoneImg {
    position: absolute;
    width: 1000px;
    height: 850px;
    left: 775px;
    top: -10px;
}

img {
    max-width: 1100px;
    max-height: 850px;
}

#accentTexture {
    position: absolute;
    width: 720px;
    height: 802px;
    left: 733px;
    top: 40px; 

    opacity: 0.4;
}

#accentTextureTwo {
    position: absolute;
    width: 720px;
    height: 802px;
    left: 950px;
    top: -50px;    

    opacity: 0.4;
}

.social {
    position: absolute;
    width: 549px;
    height: 359px;
    top: 230px;

    font-weight: 600;
}

.icons {
    padding-top: 50px;
}

.fa {
    width: 30px;
    height: 30px;
}

/* TEXT STYLES */

h3 {
    position: absolute;
    width: 353px;
    height: 27px;

    font-family: Poppins;
    font-style: bold;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    color: #74758C; 
    display: flex;
    margin: 3px;
}

h1 {
    position: absolute;
    width: 549px;
    height: 126px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    /* or 100% */

    color: #000000;
    display: flex;
    margin-bottom: 3px;
}

p {
    position: absolute;
    width: 513px;
    height: 109px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    /* or 172% */

    color: #000000;
    padding-top: 5px;
}

input {
    padding-left: 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #988780;
    cursor: text;
}

.subText {
    position: absolute;
    width: 500px;
    height: 27px;
    padding-top: 10px;
    padding-left: 60px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    /* or 127% */

    color: #74758C; 
}

a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #000000;
    justify-content: space-between;
    text-decoration: none;
}

.policy {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    /* or 127% */

    color: #80746F;
}

#note {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 14px;

    color: #74758C;
}