body{
  display: flex;
}

@font-face {
  font-family: myFirstFont;
  src: url(../Sun-Catcher-Handwritten-Script/Web-PS/Sun\ Catcher.woff2);
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(233, 232, 232, 0.5), rgba(233, 232, 232, 0.5)), url("test.img");

  /* Set a specific height */
  height: 100%;
  width: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  display: flex;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: justify;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  display: flex;
}

#main-container{
  display: flexbox;
  margin-left: -300px;
  margin-right: 450px;
  flex-wrap: nowrap;
}

h2{
  font-family: myFirstFont;
  src: url(../Sun-Catcher-Handwritten-Script/Web-PS/Sun\ Catcher.woff2);
  margin-bottom: -60px;
  font-size: 72px;
  letter-spacing: 2px;
  font-weight: 200;
}

h1{
  position: static;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  font-size: 48px;
}

p{
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -0.5px;
}

.em {
  font-family: Arial, Helvetica, sans-serif;
  font: Raleway;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.button-text{
  position: absolute;
  width: 350px;
  height: 21px;
  left: 99px;
  top: 866px;
  
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  
  color: #000000;
}

/* primary CTA */
button{
  width: 402px;
  height: 59px;
  left: 82px;
  top: 847px;
  text-decoration: none;
  display:inline-block;
  border:none;
  cursor: pointer;
  transition: 0.9s;

  background-color:rgb(248, 221, 179);

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

button:hover{
  background-color: white;
  color:black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 1;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 3px;
}

/* visited link */
a:visited {
  color:black;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 3px;
}

/* mouse over link */
a:hover {
  color: black;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: rgb(248, 221, 179);
  text-decoration-thickness: 3px;
}

/* selected link */
a:active {
  color: black;
  text-decoration: underline;
  text-decoration-color: rgb(248, 221, 179);
  text-decoration-thickness: 3px;
}